<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h1 >You Scored  <%= totalScore %>  out of <%= answersLenght %> for a <%= percent %> % </h1>
    <a href="/quiz" class="btn btn-primary">Play Again?</a>
  </body>
</html>